<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Here's my job experience <br>{{ username }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Best buy job experience -->
  <ion-card>
    <img src="../assets/imgs/bestbuy.jpg" height="150" width="50" />
    <ion-card-header>
      <ion-card-title>Best Buy</ion-card-title>
      <ion-card-subtitle>Inventory Specialists <i>2019 - Current</i></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Oversee all the activities related to ordering, receiving, storing and distributing materials, equipment,
      merchandise, supplies and products.
    </ion-card-content>
  </ion-card>
  <!-- Crosstown movers -->
  <ion-card>
    <img src="../assets/imgs/crosstown.PNG" height="150" width="50" />
    <ion-card-header>
      <ion-card-title>Cross Town Movers </ion-card-title>
      <ion-card-subtitle>Mover<i> 2013 - 2015</i></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Moved Residential and commercial clients. Physically lift and handle heavy furniture, appliances, and other items.
    </ion-card-content>
  </ion-card>
  <!-- Even green technology -->
  <ion-card>
    <img src="../assets/imgs/egt.PNG" height="150" width="50" />
    <ion-card-header>
      <ion-card-title>Even Green Technology </ion-card-title>
      <ion-card-subtitle>Solar Installer<i> 2013</i></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Focusing on providing renewable energy to the Boise Area, such as solar panels, LED lights and solar water
      heating. Installed these components for clientele.
    </ion-card-content>
  </ion-card>
</ion-content>